@font-face {
	font-family: OpenSans-Regular;
	src: url(../fonts/OpenSans-Regular.ttf),
		 url(../fonts/OpenSans-Regular.eot);
}

@font-face {
	font-family: OpenSans-ExtraBold;
	src: url(../fonts/OpenSans-ExtraBold.ttf),
		 url(../fonts/OpenSans-ExtraBold.eot);
}

@font-face {
	font-family: OpenSans-Bold;
	src: url(../fonts/OpenSans-Bold.ttf),
		 url(../fonts/OpenSans-Bold.eot);
}