.about {
	height: 600px;
}

.about-bg {
	background-image: url(../img/about.jpg);
	background-size: cover;
}

.about__left {
    width: calc(50% - 10px);
	height: 600px;
    float: left;
}

.about__left-bg {
	background-image: url(../img/parachute-01.jpg);
    background-size: cover;
    z-index: 1;
    width: inherit;
    height: inherit;
}

.about__right {
    width: calc(50% - 30px);
    height: 440px;
    float: left;
    padding: 160px 0px 0px 30px;
    background-image: url(../img/bg.png);
}

.about__header-description {
    margin-top: 30px;
}