.gallery {
    width: 100%;
	height: 100%;
    overflow: hidden;
	background-image: url(../img/bg.png);
}

.gallery__box {
	background-image: url(../img/v.jpg);
    background-size: cover;
    width: 100%;
    height: 200px;
	float: left;
    margin-bottom: 40px;
}