.product {
    height: 812px;
    margin: 0 auto;
	background-image: url(../img/bg.png);
}

.product__block {
    height: 812px;
    width: 1400px;
    margin: 0 auto;
}

.product__block-left {
	float: left;
    width: 402px;
    margin-top: 95px;
    margin-left: 111px;
    position: relative;
}

.product__block-right {
	position: relative;
}

.product__header_big {
	margin-top: 3px;
}

.product__description {
	margin-top: 32px;
    margin-left: 3px;
}

.product__button {
    margin-top: 41px;
    margin-left: 4px;
    text-align: center;
}

.product__block-right-characteristics {
    width: 185px;
    float: left;
    margin-top: 147px;
    margin-left: 44px;
}

.product__block-right-characteristics-header {
	margin-top: 38px;
    font-family: $OpenSansR;
}

.product__block-right-characteristics-content {
	margin-top: 8px;
}

.product__block-right-helmet {
    background-image: url(../img/gopro-helmet-mount.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 530px;
    height: 570px;
    float: right;
    margin-right: 125px;
    margin-top: 100px;
}