.reviews {
	height: 482px;
	background-image: url(../img/bg.png);
}

.reviews__box {
	padding-top: 100px;
    height: 270px;
    margin: 0 auto;
    width: 790px;
}

.reviews__box-photo {
    width: 170px;
    height: 170px;
    background: #ff0;
    border-radius: 50%;
    float: left;
    margin-left: 10px;
}

.reviews__box-text {
    color: #fff;
    width: 580px;
    float: left;
    margin-left: 30px;
    margin-top: 15px;
}

.reviews__box-text-name {
    font-family: $OpenSansB;
}

.reviews__box-text-tour-name {
    margin-top: 9px;
	margin-left: 1px;
    font-size: 12px;
    font-family: $OpenSansR;
}

.reviews__box-text-header {
    margin-top: 22px;
	margin-left: 1px;
    font-size: 18px;
    font-family: $OpenSansB;
    color: #ff9c00;
}

.reviews__box-text-comment {
	margin-top: 17px;
	margin-left: 1px;
    line-height: 24px;
    font-size: 14px;
    font-family: $OpenSansR;
}