.subscribe {
    height: 477px;
    text-align: center;
	position: relative;
	z-index: 1;
}

.subscribe-bg {
	background-image: url(../img/subscribe.jpg);
	background-size: cover;
	background-position-y: 15%;
}

.subscribe__header_small  {
    padding-top: 95px;
}

.subscribe__header_big {
    margin-top: 2px;
}

.subscribe__header__description {
    margin-top: 33px;
}

.subscribe__input {
    margin-top: 41px;
    width: 670px;
    height: 54px;
    outline: none;
    border: 3px solid #ff9c00;
    background: none;
    color: #fff;
    padding: 0px 76px 0px 16px;
    font-size: 15px;
}

.subscribe__input_success {
	background: #ff9c00;
    transition: all, .25s;
}

.subscribe__input::-webkit-input-placeholder {
	color: #fff;
}
.subscribe__input::-moz-placeholder {
	color: #fff;
}
.subscribe__input:-ms-input-placeholder {
	color: #fff;
}
.subscribe__input:-moz-placeholder {
	color: #fff;
}

.subscribe__submit {
    width: 48px;
    height: 32px;
    background: none;
    border: none;
    outline: none;
    position: absolute;
    margin-top: 54px;
    margin-left: -67px;
}